body {
  background-color: #f8f9fa;
}

.sidebar {
  background-color: #343a40;
  min-width: 250px;
}

.nav-link {
  padding: 10px;
  font-size: 18px;
}

.nav-link:hover {
  background-color: #495057;
  border-radius: 4px;
}
